{% extends 'security/base.html.twig' %}

{% block sub_title %}Inscription{% endblock %}

{% block content %}
    <h2> Inscription </h2>
    <section>
    {{form(formView)}}
    </section>
{% endblock %}