{% extends "front/base.html.twig" %}

    {% block sub_title %}Site Web{% endblock %}

    {% block content %}
    <h2> Site Web - Préstations </h2>
        {% for prestation in prestations %}
            <div class="site elementBox" style="border: black 1px solid">
                <h3>{{prestation.titre}} </h3>
                <p>{{prestation.texte}} </p>
            </div>
        {% endfor %}
    {% endblock %}