{% extends "front/base.html.twig" %}

    {% block sub_title %}SiteWeb{% endblock %}

    {% block content %}
    <h2> SiteWeb </h2>
    <section class="white noShadow">
    <h3>Pourquoi créer un site internet ?</h3>
    <p> Un site Web pour votre entreprise facilite la promotion de vos produits et services, vous allez augmenter sa visibilité. Une page Facebook ne suffit pas ! Elle ne permet pas de trouver rapidement un produit, elle ne permet pas de mettre une mise à jour la veille pour le lendemain, c’est un complément à votre site.<span class="bold"> De plus, votre site est accessible 24h/24 et 7j/7.</span> N’importe quel client potentiel peut donc venir le visiter et même acheter à n’importe quelle heure. 
    <br> <span class="bold">N’oubliez pas que vos concurrents ont sûrement déjà un site web. </span> Ce n’est pas une dépense mais un investissement dans le temps !</p> 

    <h3>Pourquoi choisir WordPress dans la construction de votre site internet ?</h3>
    <p>WordPress existe depuis 2003. Il s'agit d'une plate-forme open source soutenue par des milliers de codeurs. <span class="bold">30% des sites web dans le monde sont faits avec WordPress qui représente 60% des parts de marché dans le CMS.</span> (Content Management System, système de gestion de contenu).
        L’interface d’administration est intuitive, ce qui vous permettra de gérer votre site internet par la suite plus facilement. 
        Le coût de développement d'un site WordPress est bien moins onéreux que celui d'un site classique mais ça n’empêche pas pour autant d’avoir les mêmes infos que sur un site classique.</p>
    
    <h3>Pourquoi me choisir pour la création de votre site WordPress ?</h3>
    <p> <span class="bold">Je serai à l’écoute de vos attentes et vous ferai un suivi régulier de l'évolution de votre projet.</span>
    Grâce à mon dynamisme, mes idées, je serai force de proposition et en mesure de
     vous guider pour réaliser un site à votre image.  Je mettrai ainsi <span class="bold">toute mon
      expérience à profit pour la réalisation de votre projet. </span> </p>
    </section>

    <h2 id="prestation"> Services </h2>
    <section>
        {% for prestation in prestations %}
            <div class="presta elementBox">
                <div>
                <img class="bigPic" src='{{asset('/uploads/prestation_img/' ~ prestation.image)}}'>
                </div>
                <div class="texte" style="padding-bottom:1%">
                {% for ligne in prestation.texte %}
                    {{ligne}} <br>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
    </section>

    <h2 id="tarif"> Tarifs </h2>
    
    <a class="linkAdmin" href="{{path('app_contact_show')}}#contact">Demander un devis !</a>
    {% endblock %}