{% extends "front/base.html.twig" %}

    {% block sub_title %}SiteWeb{% endblock %}

    {% block content %}
    <h2> SiteWeb </h2>
    <section class="white noShadow">
    <p> Pourquoi me choisir pour la création de votre site internet via WordPress ?
    Un site Web pour votre entreprise facilite la promotion de vos produits et services. Une page Facebook ne suffit pas ! N’oubliez pas que vos concurrents ont sûrement déjà un site web.
    C’est pour cela que je vous propose mes services pour réaliser votre site internet via WordPress.
    Tout d’abord il faut savoir que Wordpress existe depuis 2003. C’est une plate-forme open source soutenue par une large communauté. Wordpress représente 60% des parts de marché dans le CMS. 30% des sites web dans le monde sont faits avec WordPress. 
    Je serai à l’écoute de vos attentes et vous fournirez un suivi régulier sur l’avancement du projet.</p>
    </section>

    <h2 id="prestation"> Services </h2>
    <section>
        {% for prestation in prestations %}
            <div class="presta elementBox">
                <div>
                <img class="bigPic" src='{{asset('/uploads/prestation_img/' ~ prestation.image)}}'>
                </div>
                <div class="texte" style="padding-bottom:1%">
                {% for ligne in prestation.texte %}
                    {{ligne}} <br>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
    </section>

    <h2 id="tarif"> Tarifs </h2>
    
    <a href="{{path('app_contact_show')}}">Demander un devis !</a>
    {% endblock %}