{% extends "front/base.html.twig" %}

    {% block sub_title %}Secrétariat{% endblock %}

    {% block content %}
    <a href="{{path('app_secretariat_prestation')}}">Prestation</a> <a href="{{path('app_secretariat_tarif')}}">Tarifs </a>
    <h2> Secrétariat </h2>

    
    {% endblock %}