{% extends "front/base.html.twig" %}

    {% block sub_title %}Secrétariat{% endblock %}

    {% block content %}
    <h2> Secrétariat - Tarifs </h2>
    <section>
        {% for tarif in tarifs %}
            <div class="secre elementBox">
                <h3>{{tarif.prix}} </h3>
                <p>{{tarif.duree}} <br>{{tarif.tarifTemps}}€</p>
            </div>
        {% endfor %}
    </section>
    {% endblock %}