/*
============================
Définition des Variables CSS
============================
*/
:root {
    --color-white: #f5efe6;
    --color-marron: #c49d83 ;
    --color-brown:#BDA18A;
    --color-red: #E8D5CC;
    --color-grey: #D5CABC;
    --base-font-size: 18px;
  }

  /*
============================================
Définition du style des éléments principaux:
html, body, h* etc ...
============================================
*/
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Karla";
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: var(--base-font-size);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
.text-display {
    font-family: "Karla";
    padding-left: 1rem;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Karla";
} 

a {
    text-decoration: none;
    color: black;
}

.textLink {
    font-weight: bold;
    text-decoration: underline;
    color: var(--color-grey);
}

:active.textLink {
    color: darkslategray;
}

.container {
    flex-grow: 2;
    align-self: center;
    width: 1024px;
    padding-bottom: 1.6rem;
}

section {
    background-color: var(--color-marron);
    display: flex;
    justify-content: space-around;
    padding: 1%;
    flex-wrap: wrap;
}

.column
{
    flex-direction: column;
}

.contactForm {
    background-color: var(--color-grey);
}



@media screen and (max-width: 1024px) {
    .container {
      width: 100%;
    }
}

/*
====================
Définition du footer
====================
*/
    .footer {
        display: flex;
        justify-content: space-between;
        background-color: var(--color-marron);
    }

    .footer .footer-content {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        font-size: medium;
    }

/*
==============================
Définition des class du header
==============================
*/
/*
==============================
Définition des class du header
==============================
*/
.header {
    width: 100%;
    
}
/*
-Entete-
*/
.header .entete {
    display: flex;
  justify-content: space-between;
  background-color: var(--color-white);
  backdrop-filter: blur(10);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.entete > .entete-grp {
    display: flex;
}

.entete .entete-content {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    color: black;
    font-size: 1.1rem;
    text-decoration: none;
    outline: none;
}

/*
-Banner-
*/

/*
-NavBar-
*/

#nav {
    list-style: none inside;
    margin: 0;
    padding: 0;
    text-align: center;
}

#nav li {
    display: block;
    position: relative;
    float: left;
    background: var(--color-marron);
    
}

#nav li a {
    display: block;
    padding: 0;
    text-decoration: none;
    width: 13rem;
    padding-top: .3rem;
    padding-bottom: 0.3rem;
    line-height: 35px;
    
    color: #ffffff;

}

#nav li li a {
    font-size: 80%;
}

/* smaller font size for sub menu items */

#nav li:hover {
    background-color: #a8846d;
}

/* highlights current hovered list item and the parent list items when hovering over sub menues */

#nav ul {
    position: absolute;
    padding: 0;
    left: 0;
    display: none;
    /* hides sublists */
}

#nav li:hover ul ul {
    display: none;
}

/* hides sub-sublists */

#nav li:hover ul {
    display: block;
}

/* shows sublist on hover */

#nav li li:hover ul {
    display: block;
    /* shows sub-sublist on hover */
    margin-left: 200px;
    /* this should be the same width as the parent list item */
    margin-top: -35px;
    /* aligns top of sub menu with top of list item */
}
.header .navbar {
      display: flex;
      justify-content: space-around;
    background-color: var(--color-marron);
    backdrop-filter: blur(10);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}


.navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-left: 1.2rem;
    padding-right: 1.2rem;

    color: var(--color-white);
    font-size: 1.1rem;
    text-decoration: none;
    outline: none;
}

/*
/*
===================================
Design des Input
===================================
*/

.contactForm>p
{
    padding: 1%;
    margin: 0;
    text-align: center;
}
.contactForm>p>a
{
    color: var(--color-white);
}


input, select, textarea {
    width: 100%; /* Full width */
    padding: 2%; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 5%; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: .01%;/* Add a top margin */
    margin-bottom: .01%; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.submit {
    background-color: var(--color-red);
    color: black;
    padding: 5% 6%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

:hover.submit{
    background-color:#d1bcb3;
}
/*
================================
Design des liens de listes
================================
*/

.listBox
{

    display: flex;
    justify-content: space-between;
    
}

.listElement
{
    display: flex;
    
}

.listAction
{
    display: flex;
    flex-direction: column;
    
}

:hover.navLink
{
    background-color: #a8846d;
}

.list-admin
{
    display: flex;
    flex-direction: column;
}

.linkAdmin
{
    padding: 1%;
    margin-bottom: 1%;
    width: 20%;
    border-radius: 3%;
    transition: .3s;
    background-color: var(--color-red);
}

:hover.linkAdmin
{
    background-color: var(--color-marron);
}

/*
================================
Elements
================================
*/

.btn
{
    padding: 2%;
    background-color: var(--color-red);
    text-align: center;
    border-radius: 10px;
    transition: .3s;
}

:hover.btn
{
    background-color:#d1beb5;
}

.smlPic
{
    height: 50px;
    width: 50px;
}

.elementBox
{
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1%;
    display: flex;
    background-color: var(--color-red);
    width: 49%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 4%;
}

.texte
{
    text-align:center;
}

#profil
{
    background-color: var(--color-red);
    padding: 2%;
}