{% extends "front/base.html.twig" %}

{% block sub_title %}Acceuil
{% endblock %}

{% block content %}
	<h2>
		Accueil
	</h2>
    <section class="white noShadow">
	<h3>Qui suis-je ?</h3>
    <p>
    Marion, 37 ans, indépendante depuis maintenant deux ans, cela fait plusieurs 
    années que je pratique le métier d’assistante administrative. J’ai aussi pour 
    passion de concevoir des sites internet via WordPress. J’ai donc effectué une 
    formation pour me perfectionner davantage. C’est pour cela qu’en plus de 
    <a href="{{path('app_secretariat_show')}}" class="textLink">l'administratif </a>, je vous propose de <a href="{{path('app_siteWeb_show')}}" class="textLink">crée votre site internet. </a>
	</p>

    <p>
    En naviguant sur mon site, vous pourrez explorer les différentes missions sur 
    lesquelles je peux intervenir ainsi que les prix.
    </p>

    <p>
    N’hésitez pas à me poser des questions si vous souhaitez en savoir plus via le <a href="{{path('app_contact_show')}}#contact" class="textLink">formulaire de contact ! </a>
    </p>
    </section>
{% endblock %}
