{% extends "admin/base.html.twig" %}
{% block sub_title %}Acceuil{% endblock %}
{% block content %}
<h2> Administration </h2>
    <div class="list-admin">
        <a class="" href="{{path('app_admin_experience_retrieve')}}">Liste Expériences </a>
        <a class="" href="#">Liste Réalisations </a>
        <a class="" href="#">Liste Présentations</a>
        <a class="" href="#">Liste Tarifs </a>
        <a class="" href="#">Liste Users </a>
    </div>
{% endblock %}