<div class="entete-grp">
    <a href="{{path('app_home_home')}}">
        <div class="entete-content">
            <img src="/logo.png">
            <h1> Marion Services </h1>
        </div>
    </a>
</div>

<div class="entete-grp">
    <div class="entete-content">
    <h3>Profil</h3>
    </div>
</div>

