<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="/logo1-100.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Karla&family=Roboto&display=swap" rel="stylesheet">


        {% block stylesheets %}
            <link rel="stylesheet" href="/css/style1.css">
        {% endblock %}

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <header class="header 
        {% block header_class '' %}">

          <div class="entete">
            {% block entete '' %}
          </div>  

          <div class="banner">
            {% block banner '' %}
          </div>

          <nav class="navbar">
            {% block navbar '' %}
          </nav>
            {% block hero '' %}
	      </header>


          <div class="container">
            {% block content %}
                {% block page_title %}{% endblock %}
            {% endblock %}
         </div>

         <footer class="footer">
            <div class="footer-content">
              <p>
                Copyright ©2022 Marion Services. <br>
                 Tous droits réservés
              </p>
            </div>

            <div class="footer-content">
              <p>
                Fondée par Marion Guiet.
              </p>
            </div>
         </footer>
          {% endblock %}
    </body>
</html>
